<head>

<style>

#search_box{

  width: 250px;

}

</style>

</head>

<div ng-controller = "SearchBoxController">

  <div class="col-lg-6">  <!--  search box and both buttons -->

    <!-- Category button -->

    <div class="input-group">

      <div class="input-group-btn">

        <button type="button" class="btn btn-default dropdown-toggle"
        data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">

        <span ng-bind = "selected"></span>

        <span class="caret"></span></button>

        <ul class="dropdown-menu">

          <li>
            <a ng-click = "updateCategory('All Categories')">
              All Categories</a>
            </li>

            <li role="separator" class="divider"></li>

            <li ng-repeat = "category in categories">
              <a  ng-click = "updateCategory(category)"><span ng-bind = "category"></span></a>
            </li>

          </ul>
        </div>

        <!-- input box -->
        <input type="text" ng-model = "search_term" ng-bind = "search_term" id = "search_box"
        class="form-control" ng-change = "update()" placeholder="What are you looking for?">

        <!-- search button-->
        <span class="input-group-btn">

          <button type="button" class="btn btn-default" ng-click = "search()" >
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search!
          </button>

        </span>

      </div>

    </div>

  </div>
