<!-- The html for the user profile page -->
<body>
<div style="background-color:white; color:black; padding:20px; float:left; height : 800px; width : 250px; text-align:center; ">
<img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" width 500 height=200></img>
<br>
<b>Name:</b>
<br>
<b>About:</b>
<br>
<b>Gender:</b>
<br>
<b>Date of birth:</b>
<br>
<b>Followers</b>
<br>
<b>Following</b>
<br>
<b>My Businesses</b>
<br>
<b>Followed businesses</b>
</div>
<div style="background-color:white; color:black; padding:20px; float:right; height : 800px; width : 930px ">
<h1>Newsfeed</h1>
</div>
</body>
