	

    <div ng-app="shopApp">

    <div ng-controller="shopAdd">
        
    
        <div class="active">

            <h2> ShoppingCart </h2>
      
          <form ng-submit="addProductToCart()" class="navbar-form form-inline">
           
          <table>
            
            <tr>
            
            <td>
            <label>Laptop Lenovo</label>
            </td>
            <td>
            <img src="http://www.notebookcheck.net/fileadmin/_processed_/csm_LenovoG510_Teaser_f7c8acacb1.jpg" style="width: 300;height: 200;">
           
            </td>

              <td>
             
              </td>
        
            </tr>
              
          </table>
          	<br>
          	-
             <input style="width: 200px;" class="form-control" type="text" ng-model="Cart">
            <input class="btn btn-primary" type="submit" value="Add Product to Cart">
            
          </form>
        </div>
        <table>
          
        </table>

  </div>

  </div>

  