<div ng-app="postApp" class="container-fluid">

  <div ng-controller="postController">
    <h3 ng-bind="post.title"></h3>
    <span ng-bind="post.date"></span>
    <p ng-bind="post.content"></p>
    <div>
      <div ng-repeat="comments in post.comments">
        
        <br>
        <span ng-bind="comments.user.f_name"></span>
        <div ng-bind="comments.text"></div>
        <span ng-bind="comments.date"></span>
        <button  ng-click="removeComment(comments)">Remove</button>
        <button  ng-click="editComment(comments)">Edit</button>
        <br>
      </div>

      <form ng-submit="addComment()" class="navbar-form form-inline">
            <div class="form-group">
             
              <input style="width: 500px;" class="form-control" type="text" ng-model="commTxt">
            </div>

            <input class="btn btn-default" type="submit" value="New Comment" >
          </form>




    </div>
  </div>

</div>
