h2.me{
margin:auto;
position: absolute;
top: 35px;
right:10px;
width: 750px;
border-bottom:solid;
color:gray;
border-color: gray; 
}
p.about{
margin:auto;
position: absolute;
top: 75px;
right: 10px;
width: 750px;
font-size: 20px;
}
h2.skill{
margin:auto;
position: absolute;
top: 200px;
right: 10px;
width: 750px;
color: gray;
border-bottom: solid;
border-color: gray; 
}
ul{

margin:auto;
position: absolute;
top: 240px;
right: 10px;
width: 750px;
font-size: 20px;
font-family: Verdana;
}

img.avatar{
margin:auto;
position: absolute;
left: 10px;
width: 150px;
}
p.name{
margin:auto;
position: absolute;
top: 200px;
left: 10px;
width: 600px;
font-family: Verdana;
color: gray;
}
p.email{
	margin:auto;
position: absolute;
top: 260px;
left: 10px;
width: 600px;
font-family: Verdana;
color: gray;
}
h2.sm{
margin:auto;
position: absolute;
top: 400px;
left: 10px;
width: 600px;
font-family: Verdana;
color: gray;
border-bottom: solid;
border-color: gray;
}
img.twitter{
	margin:auto;
position: absolute;
top:450px;
right: 1100px;
width: 100px;
height:100px;

}
img.facebook{
margin:auto;
position: absolute;
top:450px;
left: 10px;
width: 100px;
height:100px;

}
img.gh{
	margin:auto;
position: absolute;
top:450px;
right:1210px;
width: 100px;
height:100px;
}
p.dob{
		margin:auto;
position: absolute;
top: 220px;
left: 10px;
width: 600px;
font-family: Verdana;
color: gray;
}
p.pob{
		margin:auto;
position: absolute;
top: 240px;
left: 10px;
width: 600px;
font-family: Verdana;
color: gray;
}
