<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rate this product</title>
</head>
<body>
<div ng-app="RateProductApp" class="container-fluid">
<div ng-bind="ProductSchema">
    <div ng-controller="RateProductController">
<br>
<select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
    <option value="">Please select</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>


        <button ng-click="addRating(rate,ProductSchema)" type="button">Rate!</button>

<br>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
</body>
</html>