<!DOCTYPE html>
<html>
<head>
<style>
header {

    background-color:black;
    color:white;
    text-align:left;
    padding:5px;     
}
nav {
    line-height:30px;
    background-color:;
    height:300px;
    width:150px;
    float:left;
    padding:5px;          
}
section {
    width:400px;
    float:left;
    padding:10px;        
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;        
}
</style>
</head>
<body>
<div style="background-color:white; color:black; padding:20px; float:left; height : 800px; width : 250px; text-align:center; ">
<img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" width 500 height=200></img>
<br>
<b>Name:</b>
<br>
<b>About:</b>
<br>
<b>Gender:</b>
<br>
<b>Date of birth:</b>
</div>
<div style="background-color:white; color:black; padding:20px; float:right; height : 800px; width : 930px ">
<h1>Newsfeed</h1>
</div>
</body>
</html>