
    <div ng-app="prodreviewApp">
    <div ng-controller="reviewadd">
        <div class="active">
            <h2 style="color: blue;"> Nike </h2>
          <form ng-submit="addProdReviews()" class="navbar-form form-inline">
          <table>
            <tr>
            <td>
            <input style="width: 550px , height: 200px;, padding: 10px; class="form-control" type="text" ng-model="Text">
            <input style=";" class="btn btn-default" type="submit" value="Add Review on Product">
          </table>
            <br>
            <br>
          </form>
        </div>
      <div style="font-family:verdana;"  ng-repeat=" x in productreviews" class="list-group">
          <br>
            <span >Text:</span>
            <span ng-bind="x.Text"> </span>
            <br>
      </div>
  </div>
  </div>

  