<link rel="stylesheet" type="text/css" href="/assets/Message/message.css" >

<div ng-app="messageApp">
<div ng-controller="messageCRUD">
<div class = "active">
	<h2> Sending Message </h2>
</div>
<form ng-submit="sendMessage()" class="navbar-form form-inline">
<table>
	<tr>
		<td>
          <label> Sender </label>
         </td>
         <td>
            <input style="width: 150px;" class="form-control" type="text" ng-model="fromBusiness">
         </td>
         <td>
			<label> SendTo </label>
         </td>
         <td>
            <input style="width: 150px;" class="form-control" type="text" ng-model="toBusiness">
         </td>

	</tr>
</table>
<br>
<table>
	<tr>
         <td>
            <label>
            Content
			</label>
         </td>
            <td>
             <input style="width: 600px; height:100px;" class="form-control" type="text" ng-model="content">
            </td>
     </tr>
      </table>
            
            <br>
            <input class="btn btn-success icon-add" type="submit" value="Send Message">
    </form>  
</table>
 
             <div ng-repeat="x in message" class="list-group">
             <span> Your message </span>
             <span> " </span>
             <span ng-bind="x.content"> </span>
             <span> " </span>
             <span>  have been sent to </span>
             <span ng-bind="x.toBusiness"></span>
             <span> at  </span>
             <span ng-bind = "hhmmsstt"> </span>
             <span> on </span>
             <span ng-bind = "ddMMyyyy"> </span>

             </div>  






