<!DOCTYPE html>
<html lang="en">
<head>
  <title>MakeOffer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" >
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/angular/angular.min.js" ></script>
  <script src="/bower_components/angular-route/angular-route.min.js" ></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/mainApp.js"></script>
</head>
<body>
<div ng-app="productApp">
  <div ng-controller="ProductController">
<div class="container">
  <h1>Make Offer on Product</h1>
  <p>Entry below the products to have offer</p>

<p>Select Category</p>
  <div class="btn-group">

<select ng-models="tags">
  <option value="t">Tablet</option>
  <option value="p">Phones</option>
  <option value="m">Mp3</option>
  <option value="a">Accesories</option>
</select>
</div>
<br>
<hr>
<input type ="text" class="form-control" ng-model="productName" placeholder = "Enter first Product"</input>

<br>
<br>

<input type ="text" class="form-control" placeholder = "Enter second Product"</input>
</br>
<br>

<input type ="text" class="form-control" placeholder = "Enter third Product"</input>
<br>
<br>
  <input type ="text"  class="form-control" ng-model = "productPrice" placeholder = "Enter Offer Price"></input>
<br>
<div class="form-group">
  <label for="comment" >Add Offer Description(Optional):</label>
  <textarea class="form-control" ng-model="ProductDescription" rows="5" id="desc"placeholder="Description"></textarea>


<button type="button"  ng-click="makeOffer()" class="btn btn-info"> Make offer </button>

<!--> Displaying the results

<div ng-repeat="x in Product" class="list-group">


         <br>
           <span  class="label label-primary" >Name</span>
           <span ng-bind="x.Name"> </span>

           <span  class="label label-info" >Price</span>
           <span ng-bind= "x.Price | currency"> </span>

           <br>
           <span  class="label label-warning" >Tags</span>
           <span ng-bind="x.tags"> </span>

           <table>
             <tr>
               <td>
               <br>
               <span  class="label label-default pull left" >Description</span>
               </td>

               <td>
               <br>
                <span ng-bind= "x.ProductDescription"> </span>
               </td>

             </tr>

           </table>
<-->
           <br>
</div>
</div>
</div>
</body>
</html>
