<div ng-app="postApp" class="container-fluid">

  <div ng-controller="postController">
    <h3 ng-bind="post.title"></h3>
    <span ng-bind="post.date"></span>
    <p ng-bind="post.content"></p>
    <div>
      <div ng-repeat="comments in post.comments">
      <!-- roshdy -->
    <!--   <form ng-submit="addMovie()" class="navbar-form form-inline">
            <div class="form-group">
              <input style="width: 500px;" class="form-control" type="text" ng-model="movieName">
            </div>
            <input class="btn btn-default" type="submit" value="Add a new movie">
          </form>
       -->

        comment by:
        <br>
        <!-- Roshdy -->
      <!--   <div ng-repeat="x in comments" class="list-group">
          <a class="list-group-item">
        <span ng-bind="comment.user.f_name"></span>
        <span ng-bind="comment.date"></span>
        <div ng-bind="comment.text"></div>

 -->        </a>

  <!--  End Roshdy -->

    <!-- Samy -->
        <div ng-repeat="x in comments" class="list-group">
          <a class="list-group-item">
            <span ng-bind="x.text"></span>
            <button class="btn btn-danger pull-right" ng-click="editComment(x)">Edit</button>
            <br>

              <!-- End Samy -->
      </div>
    </div>
  </div>

</div>
