
    <div ng-app="busienessApp">

    <div ng-controller="view">
        
        <div class="active">
           
            <h2> Business </h2>
      
          <form ng-submit="addBusiness()" class="navbar-form form-inline">
           
          <table>
            
            <tr>
            
            <td>
            <label>Business</label>
            </td>
            
            <td>
            <input style="width: 100px;" class="form-control" type="text" ng-model="Name">
            </td>

              <td>
              <label>Rating </label>
              </td>
              <td>
              <input style="width: 100px;" class="form-control" type="text" ng-model="Rate">
              </td>
            </tr>
          </table>
            <br>
            <br>
            
            <input class="btn btn-default" type="submit" value="Add Business">
            
          </form>
        </div>
        <table>
          
        </table>

      <div ng-repeat=" business in businesses" class="list-group">

          <br>
            <span >Business:</span>
            <a ng-href="#/business/{{business._id}}" ng-bind="business.name"> </a>
            <br>

      </div>

  </div>

  </div>

  