<div ng-app="postApp" class="container-fluid">

test <!--this is visible in the page -->

  <div ng-controller="postController">
  <h3 ng-bind="post.title"></h3>
    <span ng-bind="post.date"></span>
    <p ng-bind="post.content"></p>

    <br></br>
    <button type="button" class="btn btn-primary">Edit This Post</button>

    <div>
      <div ng-repeat="comments in post.comments">
        Comment by:
        <br>
        <span ng-bind="comment.user.f_name"></span>
        <span ng-bind="comment.date"></span>
        <div ng-bind="comment.text"></div>
      </div>
    </div>

  </div>

</div>
