<div ng-app="businessApp" class="container-fluid">
  <div ng-controller="businessProfileController">					
    <h3 ng-bind="business.name"></h3>								<!-- getting BusinessName -->
    <h3 >Description:</h3>
    <p ng-bind="business.description"> </p>
     <span >Products:</span>
    <div ng-repeat=" product in business.products" class="list-group">     <!-- getting all Products for Business -->
            <a ng-href="" ng-bind="product.name"> </a>
      </div>
      <span >Reviews:</span>
      <div ng-repeat=" review in business.reviews" class="list-group">           <!--  getting all reviews for Business -->
            <a ng-href="" ng-bind="review.content"> </a>
      </div>
  </div>
</div>
