<html ng-app>

<!-- Latest compiled and minified CSS-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


<head>

  <title>Search Results</title>

  <!-- Dont forget to write search term too -->

</head>

<body>

  <div class = "container">

    <h1>Search Results</h1>

    <br /> <br />

    <table class = "table">

      <thead>

        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Seller</th>
          <th>Reviews and Ratings</th>
        </tr>

      </thead>


    </table>


  </div>


</body>

</html>
