
<link rel="stylesheet" type="text/css" href="/assets/WishList/wishlist.css" >

<div ng-app="wishListApp" class="container-fluid">

  <div ng-controller="WishListController">

  <div ng-repeat="products in wishlist">
  	<div class="row">
   <div ng-repeat="product in products">
        
		  <!-- <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="/assets/WishList/noun_126735_cc.svg"  class="default-img">
		      <div class="caption">
		        <span ng-bind="product.Name"></span>
		        <span ng-bind="product.Price"></span><span class="dollar">$</span>
		        <p><a href="#" class="btn btn-primary" role="button">Buy</a> 
		        	<a href="#" class="btn btn-danger" role="button">Remove</a></p>
		      </div>
		    </div>
		  </div>
		 -->

		 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive default-img" src="/assets/WishList/noun_126735_cc.svg" alt="">
        <div class="overlay">
           <h2 ng-bind="product.Name"></h2>
           <h2>{{product.Price | currency: "&euro;"}}</h2>
           <br><br><br><br><br>
      	   <a class="btn btn-primary" href="#">Buy</a>
           <a class="btn btn-danger" href="#">Remove</a>
        </div>
    </div>
</div>





               
      </div>
    </div>
  </div>


  </div>

</div>
