
<!DOCTYPE html>
<html>
<body>
<div style="background-color:white; color:black; padding:20px; float:left; height : 800px; width : 250px; text-align:center; ">
<img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" width 500 height=200></img>
<br>
<b>Name:</b> heba darweesh

<br>
<b>Gender:</b> female
<br>
<b>Age :</b>  21
<br>
<b>Followers</b> 0
<br>
<b>Following</b> 0 
<br>
 <p> <b> My Businesses : <a href="user.html">Nike</a></p> </b> 


<div style="background-color:white; color:black; padding:20px; float:right; height : 800px; width : 930px ">
<h1>Newsfeed</h1>
</div>
</body>
</html>